Repository NFTsMarket/NFTsMarket-Frontend, pull requests merged in 2021-12, with the labels that each got.

#29 feat: Creado el fomulario para añadir nuevos assets
  components/upload/asset.jsx
  components/upload/displayImage.jsx
  pages/assets/index.jsx
Labels: upload

#24 [AUTH] Create sign up and login pages
  components/auth/AlertMessage.js
  components/common/ThemeButton.jsx
  components/layout/Layout.jsx
  components/layout/Navbar.jsx
  package-lock.json
  package.json
  pages/login.jsx
  pages/signup.jsx
Labels: auth

#31 [AUTH] Auth main functionality
  components/common/CenteredText.jsx
  components/layout/Navbar.jsx
  context/ApolloContext.jsx
  context/AuthContext.jsx
  lib/auth.js
  package-lock.json
  package.json
  pages/_app.js
  pages/confirmation.jsx
  pages/login.jsx
  pages/profile.jsx
  pages/signup.jsx
Labels: auth

#37 [AUTH] add form validation to login page
  lib/auth.js
  pages/login.jsx
  pages/signup.jsx
Labels: auth

#49 Basic catalogue set-up
  .gitignore
  components/catalogue/product.jsx
  package-lock.json
  pages/index.jsx
  pages/products/[id].jsx
Labels: catalog

#53 Edit products #47
  components/catalogue/EditProduct.jsx
  components/catalogue/EditableProduct.jsx
  components/catalogue/ProductDetails.jsx
  pages/products/[id].jsx
Labels: catalog
